nav.navbar{
	position: absolute;
	top: 15px;
	left: 30%;
	width: 800px;
	font-family: 'Great Vibes', serif;
	font-size: 100%
}

ul.navbar{
	list-style-type: none;
}

li.navbar{
	display: inline;
	margin: 5% 5% 5% 5%;
}

a.navbar{
	text-decoration: none;
	font-size: 2.5em;
}