html{
	background: url('images/leaf.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

body{
	margin: 0;
	width: 100%;
	height: 100%
}

header.navbar{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 10%;
	min-height: 100px;
	background: url('images/splash.jpg') no-repeat 65% 65%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav.navbar{
	position: absolute;
	left: 21%;
	width: 100%;
	font-family: 'Great Vibes', serif;
	font-size: 100%;
}

ul.navbar{
	list-style-type: none;
	padding-top: .75em;
}

li.navbar{
	display: inline;
	margin: 2.5% 2.5% 2.5% 2.5%;
}

a.navbar{
	text-decoration: none;
	font-size: 2.5em;
	color:#ccffff;
}

/*main{
	position: absolute;
	left: 0%;
	top: 10%;
	width: 100%;
	height: 80%;
	min-height: 100px;
	background: url('images/leaf.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

footer.socialMedia{
	position: absolute;
	left: 0%;
	top: 90%;
	width: 100%;
	height: 10%;
	min-height: 100px;
	background: url('images/wov.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}