html {
	font-size: 16px;
	width: 100%;
	height: 100%;
}

body#home {background: url('images/circuit.jpg') no-repeat center center/cover;}

body.other {background: url('images/wov.png') no-repeat center center/cover;}

nav {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100px;
	background: url('images/splash.jpg') no-repeat 65% 65%/cover;
	text-align: center;
}

ul.navbar {
	list-style-type: none;
	padding-top: .75rem;
}

li.navbar {
	display: inline;
	margin: 2.5% 2.5% 2.5% 2.5%;
}

a.navbar {
	text-decoration: none;
	font-size: 2.5rem;
	font-family: 'Great Vibes', serif;
	color: #ccffff;
}

a.navbar:hover {color: silver;}

header.title {
	position: absolute;
	top: 125px;
	left: 50%;
	width: 900px;
	margin-left: -450px;
	font-family: "Great Vibes", serif;
	color: #000099;
	font-size: 2.25rem;
	text-align: center;
}

main, section a {
	color: #000099;
	font-family: Gafata, serif;
	font-size: 1.3125rem;
}

section {
	position: absolute;
	top: 187.5px;
	left: 40%;
	width: 60%;
	margin-left: -30%;
}

section#edu {left: 50%;}

section a:hover {color: black;}

aside {
	position: absolute;
	top: 206.25px;
	left: 72.5%;
}

aside > img {
	width: 272px;
	height: 458px;
}

figure {margin-left: -2.5%;}

figure img {
	width: 320px;
	height: 180.9375px;
}

figure#work2 {margin-top: 15%;}

footer.socialMedia {
	position: absolute;
	top: 90%;
	left: 0%;
	width: 100%;
	height: 100px;
	background: url('images/cork-wallet.png') no-repeat center center/cover;
	color: #000099;
	text-align: left;
	display: table;
}

p.socialMedia, img.socialMedia {
	display: table-cell;
	vertical-align: middle;
}

p.socialMedia {
	font-size: 1.25rem;
	text-align: center;
}

img.socialMedia {
	height: 64px;
	width: 64px;
	margin-top: 8.75%;
}

img#linkedIn {width: 70px;}

img#mail {margin-top: 10%;}