/*
  ========================================
  CSS Reset
  ========================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

/*
  ========================================
  Base Styles
  ========================================
*/

body {
	background: radial-gradient(circle, #CFF09E 5%, #A8DBA8 60%);
  color: #0B486B;
  font: 100%/1.4em "Gafata", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Base Borders
  ========================================
*/

.self,
section {
  border: 5px solid #0B486B;
}

section {
  border-radius: 10px 10px 50px 50px;
  border-width: 0 3.75px;
}

/*
  ========================================
  Base Layout
  ========================================
*/

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

section {
  padding: 0 10px;
}

p {
	margin-bottom: 1em;
}

.container {
	margin: 0 auto;
  max-width: 960px;
}

.vertbox,
.horizbox {
	display: flex;
}

.vertbox {
	flex-flow: column;
}

.flex-1 {
   flex: 1;
}

.main-axis-center {
  justify-content: center;
}

.cross-axis-center {
  align-items: center;
}

.center-align {
	text-align: center;
}

/*
  ========================================
  Responsive Media
  ========================================
*/

img {
  max-width: 100%;
  height: auto;
}

/*
  ========================================
  Rows
  ========================================
*/

.row {
  min-height: 75px;
  background: #0B486B;
}

/*
  ========================================
  Typography
  ========================================
*/

.primary-header,
.title,
.primary-footer {
	font-family: "Great Vibes", cursive;
}

.primary-header,
.primary-footer {
	color: #79BD9A;
}

.title {
  font-size: 2.25em;
  line-height: 2.75rem;
  font-weight: 600;
}

p, small {
	font-size: 1em;
}

@media screen and (min-width:600px) {
	p {
		font-size: 1.25em;
	}
}

@media only screen and (min-width:961px) {
	p {
		font-size: 1.5em;
	}
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #0B486B;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3B8686;
}

p a {
  text-decoration: underline;
}

.primary-header a,
.primary-footer a {
  color: #79BD9A;
}

.primary-header a:hover,
.primary-footer a:hover,
.primary-header a:focus,
.primary-footer a:focus {
  color: #648880;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav li {
	font-size: 1.71875em;
	width: 100%;
}

@media screen and (max-width: 775px) {
	.nav li {
		padding: 6.25px 0;
	}
	.nav li:first-child {
	  margin-top: 7.5px;
	}
	.nav li:last-child {
	  margin-bottom: 2.5px;
	}
}

@media screen and (min-width: 775px) {
	.nav li {
		width: initial;
		padding: 0 6.25px;
	}
}

/*
  ========================================
  Primary Header
  ========================================
*/

.logo {
  font-size: 36px;
  letter-spacing: -0.1875em;
  padding: 25px 0;
}

.logo::first-letter {
	vertical-align: 0.3125em;
}

.logo span {
	vertical-align: -0.3125em;
}

.nav li,
.social-media li {
  display: inline-block;
}

.social-media li {
  padding: 0 8.75px 10px 8.75px;
  width: 100%;
}

@media screen and (max-width: 600px) {
	.social-media li:first-child {
	  margin-top: 7.5px;
	}
}

@media screen and (min-width: 600px) {
	.social-media li {
		width: initial;
	}
}

/*
  ========================================
  Secondary Header
  ========================================
*/

.title {
	margin-top: 10px;
}

/*
  ========================================
  Primary Footer
  ========================================
*/

.primary-footer {
  font-size: 1.375em;
}

/*
  ========================================
  Home
  ========================================
*/

.home-title::first-letter {
  letter-spacing: 3.75px;
}

.self {
  margin: 0 auto -5px auto;
  border-radius: 50%;
}

/*
  ========================================
  Portfolio
  ========================================
*/

/*
  ========================================
  Resume
  ========================================
*/