/*
  ========================================
  CSS Reset
  ========================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

/*
  ========================================
  Base Styles
  ========================================
*/

body {
	background: radial-gradient(circle, #CFF09E 5%, #A8DBA8 60%);
  color: #0B486B;
  font: 100%/1.4em "Gafata", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width:600px) {
  body {
    font-size: 1.125em;
  }
}

@media only screen and (min-width:961px) {
  body {
    font-size: 1.25em;
  }
}

@media screen and (min-width:964px) {
  section {
    border: 3.75px solid #0B486B;
    border-width: 0 3.75px;
    border-radius: 10px 10px 50px 50px;
  }
}

/*
  ========================================
  Base Layout/Flexbox
  ========================================
*/

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

section {
  padding: 0 30px;
}

@media screen and (min-width:964px) {
  section {
    padding: 0 10px;
  }
}

p {
	margin-bottom: 1em;
}

.center-align {
  text-align: center;
}

.vertbox,
.horizbox {
	display: flex;
}

.vertbox {
	flex-flow: column;
}

/* temporary flex-based grid system until display: grid becomes better supported - only about 65% currently according to caniuse.com */

.col-1-3,
.fill-flexbox-remainder {
  flex: 1;
}

.col-2-3 {
  flex: 2;
}

.primary-footer {
  justify-content: center;
}

.primary-header,
.primary-footer {
  align-items: center;
}

/*
  ========================================
  Responsive Media
  ========================================
*/

img {
  max-width: 100%;
  height: auto;
}

/*
  ========================================
  Rows
  ========================================
*/

.row {
  min-height: 75px;
  background: #0B486B;
}

/*
  ========================================
  Typography
  ========================================
*/

.primary-header,
.title,
.primary-footer {
	font-family: "Great Vibes", cursive;
}

.primary-header,
.primary-footer {
	color: #79BD9A;
}

.logo,
.title {
  font-size: 2.25rem;
}

.nav {
  font-size: 1.71875rem;
}

.btn {
  font-size: 1rem;
}

strong,
h1,
h2,
h3,
.btn {
  font-weight: bold;
}

.fix-cursive-blur {
  font-weight: 400;
}

small {
  font-size: 0.75em;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #0B486B;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #3B8686;
}

.nav a {
  color: #79BD9A;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus {
  color: #CFF09E;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  display: inline-block;
  border: 2.5px solid #fff;
  border-radius: 5px;
  padding: 10px 25px;
  background: #3B8686;
  color: #fff;
  letter-spacing: .5px;
  margin: 5px 0 11.25px 0;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background: #fff;
  border-color: #3B8686;
  color: #3B8686;
}

/*
  ========================================
  Primary Header
  ========================================
*/

.primary-header svg {
  fill: currentColor;
  width: 100%;
}

.logo-wrapper {
  width: 100%;
  padding: 20px 0;
}

.logo {
  width: 84px;
  height: 65px;
  margin: 0 auto;
}

.nav li,
.social-media li {
  display: inline-block;
}

.social-media {
  padding-top: 10px;
}

.social-media li {
  padding: 2.5px 6.25px;
}

.social-media svg {
  width: 32px;
}

.nav li {
  padding: 7.5px;
}

@media only screen and (max-width: 600px) {
  .nav {
    margin: 5px 0;
  }
}

.email {
  -webkit-transform: translateY(3.75px);
          transform: translateY(3.75px);
}

/*
  ========================================
  Secondary Header
  ========================================
*/

.title {
	margin-top: 10px;
  line-height: 2.75rem;
}

/*
  ========================================
  Primary Footer
  ========================================
*/

.primary-footer {
  font-size: 1.5em;
}

/*
  ========================================
  Home
  ========================================
*/

.home-title {
  padding: 2.5px 0;
}

.home-title::first-letter {
  letter-spacing: 3.75px;
}

.self {
  margin: 0 auto -5px auto;
  border: 5px solid #0B486B;
  border-radius: 50%;
}

/*
  ========================================
  Portfolio
  ========================================
*/

.collab-message {
  font-size: 0.8em;
}

.projects-container {
  position: relative;
  margin: 1.33em 0;
}

.projects-container > div {
  padding: 0 6.25px;
}

.dots-container {
  position: relative;
  margin: 7.5px 0;
}

.prev,
.next {
  align-self: center;
  cursor: pointer;
  padding: 15px;
  color: #0B486B;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 5px;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  color: #CFF09E;
  background-color: rgba(11, 72, 107, 0.75);
}

.dot {
  display: inline-block;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: #79BD9A;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #0B486B;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*
  ========================================
  Resume
  ========================================
*/

.resume-section {
  border-bottom: 2.5px solid #0B486B;
  margin-top: 7.5px;
  padding-bottom: 5px;
  display: block;
}

.resume-section:first-child {
  margin-top: 0;
}

.resume-section:last-child {
  border-bottom: 0;
  margin-bottom: 15px;
}

.resume-leads {
  margin-right: 15px;
  text-align: center;
}

.middle-column {
  padding-right: 12.5px;
}

.bulleted {
  list-style: disc;
}

.caveat {
  padding: 10px;
}

/* temporary flex-based grid system until display: grid becomes better supported - only about 65% currently according to caniuse.com */

@media only screen and (min-width: 600px) {
  .resume-section {
    display: flex;
  }
}