/*
  ========================================
  CSS Reset
  ========================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

/*
  ========================================
  Base Styles
  ========================================
*/

body {
	background: radial-gradient(circle, #CFF09E 5%, #A8DBA8 60%);
  color: #0B486B;
  font: 100%/1.4em "Gafata", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width:600px) {
  body {
    font-size: 1.125em;
  }
}

@media only screen and (min-width:961px) {
  body {
    font-size: 1.25em;
  }
}

@media screen and (min-width:964px) {
  section {
    border: 3.75px solid #0B486B;
    border-width: 0 3.75px;
    border-radius: 10px 10px 50px 50px;
  }
}

/*
  ========================================
  Base Layout/Flexbox Set Up
  ========================================
*/

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

section {
  padding: 0 10px;
}

p {
	margin-bottom: 1em;
}

main {
	margin: 0 auto;
  max-width: 960px;
}

.center-align {
  text-align: center;
}

.vertbox,
.horizbox {
	display: flex;
}

.vertbox {
	flex-flow: column;
}

.logo-wrapper,
.social-media,
.nav,
.fill-flexbox-remainder {
  flex: 1;
}

.primary-footer {
  justify-content: center;
}

.primary-header,
.primary-footer {
  align-items: center;
}

/*
  ========================================
  Responsive Media
  ========================================
*/

img {
  max-width: 100%;
  height: auto;
}

/*
  ========================================
  Rows
  ========================================
*/

.row {
  min-height: 75px;
  background: #0B486B;
}

/*
  ========================================
  Typography
  ========================================
*/

.primary-header,
.title,
.primary-footer {
	font-family: "Great Vibes", cursive;
}

.primary-header,
.primary-footer {
	color: #79BD9A;
}

.logo,
.title {
  font-size: 2.25rem;
}

.nav {
  font-size: 1.71875rem;
}

.btn {
  font-size: 1rem;
}

strong,
h1,
h2,
h3,
.btn {
  font-weight: bold;
}

small {
  font-size: 0.75em;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #0B486B;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fff;
}

.resume-section a {
  text-decoration: underline;
}

.primary-header a {
  color: #79BD9A;
}

.nav a:hover,
.nav a:focus {
  color: #CFF09E;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  display: inline-block;
  border: 2.5px solid #fff;
  border-radius: 5px;
  padding: 10px 25px;
  background: #3B8686;
  color: #fff;
  letter-spacing: .5px;
  margin: 5px 0 11.25px 0;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  background: #fff;
  border-color: #3B8686;
  color: #3B8686;
}

/*
  ========================================
  Primary Header
  ========================================
*/

.primary-header svg {
  fill: currentColor;
  width: 100%;
}

.logo-wrapper {
  width: 100%;
  padding: 20px 0;
}

.logo {
  width: 84px;
  height: 65px;
  margin: 0 auto;
}

.nav li,
.social-media li {
  display: inline-block;
}

.social-media {
  padding-top: 10px;
}

.social-media li {
  padding: 0 6.25px;
}

.social-media svg {
  max-width: 32px;
}

.nav li {
  width: 100%;
}

@media screen and (max-width: 775px) {
  .nav li {
    padding: 6.25px 0;
  }
  .nav li:first-child {
    margin-top: 7.5px;
  }
  .nav li:last-child {
    margin-bottom: 2.5px;
  }
}

@media screen and (min-width: 775px) {
  .nav li {
    width: initial;
    padding: 0 6.25px;
  }
}

/*
  ========================================
  Secondary Header
  ========================================
*/

.title {
	margin-top: 10px;
  line-height: 2.75rem;
}

/*
  ========================================
  Primary Footer
  ========================================
*/

.primary-footer {
  font-size: 1.5em;
}

/*
  ========================================
  Home
  ========================================
*/

.home-title::first-letter {
  letter-spacing: 3.75px;
}

.self {
  margin: 0 auto -5px auto;
  border: 5px solid #0B486B;
  border-radius: 50%;
}

/*
  ========================================
  Portfolio
  ========================================
*/

/*
  ========================================
  Resume
  ========================================
*/

.resume-section {
  border-bottom: 2.5px solid #0B486B;
  margin-top: 7.5px;
  padding-bottom: 5px;
}

.resume-section:first-child {
  margin-top: 0;
}

.resume-section:last-child {
  border-bottom: 0;
  margin-bottom: 15px;
}

.resume-leads {
  margin-right: 15px;
}

.middle-column {
  padding-right: 12.5px;
}

.bulleted {
  list-style: disc inside;
}

/* temporary grid system until display: grid; becomes better supported - only about 65% currently according to caniuse.com */

.col-1-3 {
  width: calc(100%/3);
}

.col-2-3 {
  width: calc(100%/3 * 2);
}